@charset "UTF-8";

@font-face {
  font-family: "influence-icon-fonts";
  src:url("fonts/influence-icon-fonts.eot");
  src:url("fonts/influence-icon-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/influence-icon-fonts.woff") format("woff"),
    url("fonts/influence-icon-fonts.ttf") format("truetype"),
    url("fonts/influence-icon-fonts.svg#influence-icon-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "influence-icon-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "influence-icon-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-design-graphic-tablet-streamline-tablet:before {
  content: "\6a";
}
.icon-icon-man-people-streamline-user:before {
  content: "\60";
}
.icon-icon-email-mail-streamline:before {
  content: "\52";
}
.icon-icon-picture-streamline-1:before {
  content: "\2a";
}
.icon-ibook-laptop:before {
  content: "\62";
}
.icon-database-streamline:before {
  content: "\63";
}
.icon-handle-streamline-vector:before {
  content: "\65";
}
.icon-map-pin-streamline:before {
  content: "\67";
}
.icon-speech-streamline-talk-user:before {
  content: "\68";
}
.icon-bulb:before {
  content: "\69";
}
.icon-heart:before {
  content: "\6b";
}
.icon-settings:before {
  content: "\64";
}
.icon-params:before {
  content: "\61";
}
.icon-apple:before {
  content: "\66";
}
.icon-amazon:before {
  content: "\6c";
}
.icon-aws:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-linkedin:before {
  content: "\6f";
}
.icon-twitter-alt:before {
  content: "\70";
}
