<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {% if title %}
    <title>{{ title }} - Name</title>
    {% else %}
    <title>Welcome to Name</title>
    {% endif %}
    <!-- Add Fav and touch icons -->

    <!-- Add  jquery.vegas, animate, icon-fonts, pixeden-icons stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/vegas.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pixeden_icons.css') }}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- Webfonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple" rel="stylesheet" type="text/css">
    <!-- import jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/cdcafc66d6.js"></script>
</head>
<body>
    <!---- PRE LOADER ---->
    <div class="preloader" style="display: none;">
        <div class="status" style="display: none; background-image: url({{ url_for('static', filename='images/loading.gif') }};">&nbsp;</div>
    </div>

    <header id="home" class="header">

        <!-- TOP BAR -->
        <div id="main-nav" class="navbar navbar-inverse bs-docs-nav fixed" role="banner">
            <div class="container">
                <div class="navbar-header responsive-logo">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company">
                    </div>
                </div>
                <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#focus">Focus</a></li>
                    <li class=""><a href="#works">Works</a></li>
                    <li class=""><a href="#aboutus">About Us</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#pricingtable">Pricing</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                </nav>
            </div>
        </div>
        <!-- / END TOP BAR -->

        <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
        <div class="container">

            <!-- HEADING -->
            <h1 class="intro">Affordable Quality services for Small Businesses</h1>

            <!-- CALL TO ACTION BUTTONS -->
            <div class="buttons inpage-scroll">
                <a href="#works" class="btn btn-primary custom-button red-btn">Our Works</a>
                <a href="#pricingtable" class="btn btn-primary custom-button green-btn">Our Packages</a>
            </div>

            <!-- 3 SHORT MESSAGE ABOUT COMPANY -->
            <div class="row bottom-message-section">
                <div class="col-lg-4 col-sm-4">
                    <div class="short-text">
                        <i class="fa fa-tasks" aria-hidden="true"></i> Fixed price for packages
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="short-text">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Quality product in time
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="short-text">
                        <i class="fa fa-check" aria-hidden="true"></i> Satisfaction guranteed
                    </div>
                </div>
            </div>
        </div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->

    </header>

    <section class="focus" id="focus">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">Our Focus</h2>

                <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
                <h6>
                    We design &amp; develop qaulity products to help small &amp; medium level business.
                </h6>
            </div>
            <!-- / END SECTION HEADER -->

            <!-- 4 FOCUS BOXES -->
            <div class="row">

                <!-- FIRST FOCUS BOXES -->
                <div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="service-icon">
                        <i class="pixeden pd-icon-monitor"></i> <!-- FOCUS ICON-->
                    </div>
                    <h5 class="red-border-bottom">Web Design</h5> <!-- FOCUS HEADING -->
                    <p> <!-- FOCUS DESCRIPTION -->
                         Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
                    </p>
                </div>
                <!-- / END FIRST FOCUS BOX. Other boxes has same format -->

                <div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="service-icon">
                        <span class="pixeden pd-icon-camera"></span>
                    </div>
                    <h5 class="green-border-bottom">Photography</h5>
                    <p>
                         Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
                    </p>
                </div>

                <div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="service-icon">
                        <i class="pixeden pd-icon-email-marketing"></i>
                    </div>
                    <h5 class="blue-border-bottom">Email Marketing</h5>
                    <p>
                         Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
                    </p>
                </div>

                <div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="service-icon">
                        <i class="pixeden pd-icon-check"></i>
                    </div>
                    <h5 class="yellow-border-bottom">SEO &amp; SMM</h5>
                    <p>
                         Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
                    </p>
                </div>
            </div>
            <!-- / END 4 FOCUS BOXES -->

            <!-- OTHER FOCUSES -->
            <div class="other-focuses">
                <h5><span class="section-footer-title">ALSO WE FOCUS ON</span></h5>
            </div>

            <!-- OTHER FOCUS LIST -->
            <div class="other-focus-list wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                <ul>
                    <li><i class="fa fa-th-large" aria-hidden="true"></i>WEB APPLICATIONS</li>
                    <li><i class="fa fa-search" aria-hidden="true"></i>SEARCH ENGINE OPTIMIZATION</li>
                    <li><i class="fa fa-cloud-upload" aria-hidden="true"></i>CLOUD STORAGE</li>
                    <li><i class="fa fa-tasks" aria-hidden="true"></i>Project Management</li>
                    <li><i class="fa fa-apple" aria-hidden="true"></i>IOS APP</li>
                    <li><i class="fa fa-android" aria-hidden="true"></i>ANDROID APP</li>
                    <li><i class="fa fa-windows" aria-hidden="true"></i>WINDOWS APP</li>
                    <li><i class="fa fa-road" aria-hidden="true"></i>UX STRATEGY</li>
                </ul>
            </div> <!-- / END OTHER FOCUS LIST -->
        </div> <!-- / END CONTAINER -->
        </section>
    <!-- SEPARATOR -->
    <section class="separator-one">
        <div class="color-overlay">
            <h3 class="container text wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
            We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
            <div class="wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                <a href="" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
            </div>
        </div>
    </section> <!-- END SEPARATOR -->
    <!-- ABOUT -->
    <section class="about-us" id="aboutus">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">

                <!-- SECTION TITLE -->
                <h2 class="white-text">About US</h2>

                <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
                <h6 class="white-text">
                        We design &amp; develop qaulity products to help small &amp; medium level business.
                </h6>
            </div>
            <!-- / END SECTION HEADER -->

            <!-- 3 COLUMNS OF ABOUT US-->
            <div class="row">

                <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
                <div class="col-lg-4 col-md-4 column">
                    <div class="big-intro wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                         Developing Amazing Things with Passion since 2002.
                    </div>
                </div>

                <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
                <div class="col-lg-4 col-md-4 column">
                    <p class="wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                         Created forth two. Behold appear first, kind all i saying fowl man itself moved which every open shall moved subdue appear. Saying life wherein stars. Give dry, own, male had that us third lesser over deep. May every bring in it Whose. Female earth heaven won't behold female.<br><br>
                        Moved bearing give a two after. Had. Seas. Man they're. Grass above kind saying thing for that void sixth fly His after it.<br><br>
                        The set doesn't moved. Deep don't fruit fowl gathering heaven days moving creeping under from i air. Set it fifth Meat was darkness. every bring in it Whose. Female earth heaven won't behold female.
                    </p>
                </div>

                <!-- COLUMN 1 - SKILSS-->
                <div class="col-lg-4 col-md-4 column">
                    <ul class="skills wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">

                        <!-- SKILL ONE -->
                        <li class="skill">
                            <div class="skill-count">
                                <div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="86" data-thickness=".2" class="skill1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                            </div>
                            <h6>Web Design</h6>
                            <p>
                                We are expert on HTML development. Clean, semantic and valid HTML codes.
                            </p>
                        </li>

                        <!-- SKILL TWO -->
                        <li class="skill">
                            <div class="skill-count">
                                <div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="80" data-thickness=".2" class="skill2" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                            </div>
                            <h6>development</h6>
                            <p>
                                We are expert on HTML development. Clean, semantic and valid HTML codes.
                            </p>
                        </li>

                        <!-- SKILL THREE -->
                        <li class="skill">
                            <div class="skill-count">
                                <div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="89" data-thickness=".2" class="skill3" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                            </div>
                            <h6>photography</h6>
                            <p>
                                We are expert on HTML development. Clean, semantic and valid HTML codes.
                            </p>
                        </li>

                        <!-- SKILL FOUR -->
                        <li class="skill">
                            <div class="skill-count">
                                <div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="95" data-thickness=".2" class="skill4" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                            </div>
                            <h6>SEO</h6>
                            <p>
                                We are expert on HTML development. Clean, semantic and valid HTML codes.
                            </p>
                        </li>

                    </ul>
                </div> <!-- / END SKILLS COLUMN-->
            </div> <!-- / END 3 COLUMNS OF ABOUT US-->

            <!-- CLIENTS -->
            <div class="our-clients">
                <h5><span class="section-footer-title">OUR HAPPY CLIENTS</span></h5>
            </div>
            <!-- CLIENT LIST -->
            <!--<div class="client-list">
                <ul class="wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <li><a href="#"><img src="images/clients/1.png" alt="Client 1"></a></li>
                    <li><a href="#"><img src="images/clients/2.png" alt="Client 2"></a></li>
                    <li><a href="#"><img src="images/clients/3.png" alt="Client 3"></a></li>
                    <li><a href="#"><img src="images/clients/1.png" alt="Client 1"></a></li>
                    <li><a href="#"><img src="images/clients/4.png" alt="Client 4"></a></li>
                    <li><a href="#"><img src="images/clients/5.png" alt="Client 5"></a></li>
                    <li><a href="#"><img src="images/clients/6.png" alt="Client 6"></a></li>
                </ul>
            </div> --><!-- / END CLIENT LIST -->
        </div> <!-- / END CONTAINER -->
    </section>
	<!-- STATS SEPERATOR -->
	<section class="stats">
		<div class="container">
			<!-- STATS -->
			<div class="row">
				
				<!-- START COLUMN -->
				<div class="col-lg-3 col-sm-3">
					<div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
						<div class="icon-top red-text">
							<i class="icon-design-graphic-tablet-streamline-tablet"></i>
						</div>
						<div class="stat-text">
						<h3 class="white-text red-border-bottom">1,236</h3>
						<h6>Projects Completed</h6>
						</div>
					</div>
				</div> <!-- / END COLUMN -->
				
				<!-- START COLUMN -->
				<div class="col-lg-3 col-sm-3">
					<div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s" style="visibility: visible;-webkit-animation-duration: 1.75s; -moz-animation-duration: 1.75s; animation-duration: 1.75s;-webkit-animation-delay: 0.30s; -moz-animation-delay: 0.30s; animation-delay: 0.30s;">
						<div class="icon-top green-text">
							<i class="icon-man-people-streamline-user"></i>
						</div>
						<div class="stat-text">
						<h3 class="white-text green-border-bottom">196</h3>
						<h6>Happy Clients</h6>
						</div>
					</div>
				</div> <!-- / END COLUMN -->
				
				<!-- START COLUMN -->
				<div class="col-lg-3 col-sm-3">
					<div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.45s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;-webkit-animation-delay: 0.45s; -moz-animation-delay: 0.45s; animation-delay: 0.45s;">
						<div class="icon-top blue-text">
							<i class="icon-email-mail-streamline"></i>
						</div>
						<div class="stat-text">
						<h3 class="white-text blue-border-bottom">56,236</h3>
						<h6>Mail Conversation</h6>
						</div>
					</div>
				</div> <!-- / END COLUMN -->
				
				<!-- START COLUMN -->
				<div class="col-lg-3 col-sm-3">
					<div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="2.25s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 2.25s; -moz-animation-duration: 2.25s; animation-duration: 2.25s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
						<div class="icon-top yellow-text">
							<i class="icon-picture-streamline-1"></i>
						</div>
						<div class="stat-text">
						<h3 class="white-text yellow-border-bottom">2,519</h3>
						<h6>Photos Taken</h6>
						</div>
					</div>
				</div> <!-- / END COLUMN -->
			</div>
		</div>
	</section>
    <!-- TEAM MEMBERS -->
    <section class="our-team" id="team">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">Our Team</h2>

                <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
                <h6>
                    Check our awesome team memebers who always work hard to provide quality products.
                </h6>
            </div>
            <!-- / END SECTION HEADER -->

            <!-- TEAM MEMBERS -->
            <div class="row wow fadeInRight animated animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                <!-- MEMBER -->
                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                        <img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text red-border-bottom">Jason Daniels</h5>
                            <div class="position">
                                Founder
                            </div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href=""><i class="icon-facebook"></i></a></li>
                                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                                <li><a href=""><i class="icon-behance"></i></a></li>
                                <li><a href=""><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- / END MEMBER -->

                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                        <img src="images/team/pic2.jpg" alt="">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text green-border-bottom">Patricia Medina</h5>
                            <div class="position">
                                Senior Desigener
                            </div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href=""><i class="icon-facebook"></i></a></li>
                                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                                <li><a href=""><i class="icon-behance"></i></a></li>
                                <li><a href=""><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                        <img src="images/team/pic3.jpg" alt="">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text blue-border-bottom">Eugene Lane</h5>
                            <div class="position">
                                Lead Developer
                            </div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href=""><i class="icon-facebook"></i></a></li>
                                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                                <li><a href=""><i class="icon-behance"></i></a></li>
                                <li><a href=""><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                        <img src="images/team/pic4.jpg" alt="">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text yellow-border-bottom">Kathy Hudson</h5>
                            <div class="position">
                                Art Director
                            </div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href=""><i class="icon-facebook"></i></a></li>
                                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                                <li><a href=""><i class="icon-behance"></i></a></li>
                                <li><a href=""><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- / END TEAM MEMBER LIST -->

        </div> <!-- / END CONTAINER -->
    </section>
    <!-- SEPARATOR -->
    <section class="separator-one">
        <div class="color-overlay">
            <h3 class="container text wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
            We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
            <div class="wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                <a href="" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
            </div>
        </div>
    </section> <!-- END SEPARATOR -->
    <!-- FEATURES -->
    <section class="features" id="features">
        <div class="container">

            <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Features</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6>
                We design &amp; develop qaulity products to help small &amp; medium level business.
            </h6>
        </div>
        <!-- / END SECTION HEADER -->

        <!-- FEATURS -->
        <div class="row">

            <!-- FEATURES COLUMN LEFT -->
            <div class="col-md-6 col-sm-6 wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">

                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-heart-1"></i>
                    </div>
                    <h5>Design with Love</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->

                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-bulb"></i>
                    </div>
                    <h5>Creative Features</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->

                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-settings-1"></i>
                    </div>
                    <h5>Thousands of Options</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->
            </div> <!-- / FEATURES COLUMN LEFT -->

            <!-- FEATURES COLUMN RIGHT -->
            <div class="col-md-6 col-sm-6 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-params"></i>
                    </div>
                    <h5>Easy to Customize</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->

                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-handle-streamline-vector"></i>
                    </div>
                    <h5>Clean Strategy</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->

                <!-- FEATURE -->
                <div class="feature">
                    <div class="feature-icon">
                        <i class="icon-speech-streamline-talk-user"></i>
                    </div>
                    <h5>Awesome Support</h5>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- / END FEATURE -->

            </div> <!-- / END FEATURES COLUMN RIGHT -->
        </div> <!-- / END FEATURES -->
    </div> <!-- / END CONTAINER -->
    </section>
    <footer>
        <div class="container">

        <!-- COMPANY ADDRESS-->
        <div class="col-md-5 company-details">
            <div class="icon-top red-text">
                <i class="fa fa-map-marker"></i>
            </div>
            PO Box 16122 Collins Street West, Victoria 8007 Australia
        </div>

        <!-- COMPANY EMAIL-->
        <div class="col-md-2 company-details">
            <div class="icon-top green-text">
            <i class="fa fa-envelope"></i>
            </div>
             contact@designlab.co
        </div>

        <!-- COMPANY PHONE NUMBER -->
        <div class="col-md-2 company-details">
            <div class="icon-top blue-text">
            <i class="fa fa-phone-square"></i>
            </div>
            +000 0000 0000
        </div>

        <!-- SOCIAL ICON AND COPYRIGHT -->
        <div class="col-lg-3 col-sm-3 copyright">
            <ul class="social">
                <li><a href=""><i class="icon-facebook"></i></a></li>
                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                <li><a href=""><i class="icon-linkedin"></i></a></li>
            </ul>
             ©2017 Influence LLC
        </div>
    </div> <!-- / END CONTAINER -->
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='lib/js/wowa.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/jquery.nav.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/jquery.knob.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/smoothscroll.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/vegas.min.js') }}"></script>
<script type="text/javascript">
/* ================================
===  BACKGROUND SLIDER        ====
================================= */
var $body = $('body');

var backgrounds = [
    { src: "{{ url_for('static', filename='images/road.jpg') }}", fade:1000 },
    { src: "{{ url_for('static', filename='images/bg-2.jpg') }}", fade:1000 },
    { src: "{{ url_for('static', filename='images/bg-3.jpg') }}", fade:1000 },
];

$('html').addClass('animated');

$body.vegas({
  preload: true,
  delay:7000,
  slides: backgrounds
});
</script>
<script src="{{ url_for('static', filename='js/main_pg.js') }}"></script>
</html>